
{% autoescape off %}
{% load i18n %}

{% trans "Hi" %} {{ user.username }},
{% trans "Thank you for your order!" %} {% trans "We are excited to let you know that we have received your order and it is now being processed." %}
{% trans "Here are the details of your order:" %}

{% trans "Order Number" %}: {{ order.order_number }}
{% trans "Order Date" %}: {{ order.created_at }}
{% trans "Total Amount" %}: ${{ order.order_total }}

{% trans "We will notify you once your order has been shipped. If you have any questions or need further assistance, please feel free to contact our customer support team." %}
{% trans "Thank you for choosing our store. We appreciate your business!" %}
{% trans "Best regards," %}
{% trans "The Tanzib Team" %}

{% endautoescape %}


