{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
        <header class="mb-4">
          <h4 class="card-title">Sign up</h4>
          {% include 'include/alerts.html' %}
        </header>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </article>
      <!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">
      Have an account? <a href="{% url 'login_user' %}">Log In</a>
    </p>
    <br /><br />
    <!-- ============================ COMPONENT REGISTER END.// ================================= -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
