{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    <section class="section-content padding-y bg">
      <div class="container">
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
          <div class="row no-gutters">
            <aside class="col-md-6">
              <article class="gallery-wrap">
                <div class="img-big-wrap">
                  <a style="pointer-events: none;" href=""><img src="{{ product.images.url }}" /></a>
                </div> <!-- img-big-wrap.// -->
              </article> <!-- gallery-wrap .end// -->
            </aside>
            <!-- right side -->
            <main class="col-md-6 border-left">
              <div class="card rating-card">
                <div class="card-body text-center">
                  <div class="rating-score display-4 fw-bold text-primary">{{ product.averageReview|floatformat:1 }}</div>
                  <div class="stars my-2">
                    {% with avg_rating=product.averageReview %}
                      {% for i in '12345' %}
                        {% if avg_rating >= forloop.counter %}
                          <i class="fas fa-star text-warning"></i>
                        {% elif avg_rating >= forloop.counter|add:'-0.5' %}
                          <i class="fas fa-star-half-alt text-warning"></i>
                        {% else %}
                          <i class="far fa-star text-warning"></i>
                        {% endif %}
                      {% endfor %}
                    {% endwith %}
                  </div>
                  <div class="rating-text text-muted">Average Rating</div>
                </div>
              </div>
              <form action="{% url 'add_cart' product.id %}" method="POST">
                {% csrf_token %}
                <article class="content-body">
                  <h2 class="title">{{ product.product_name }}</h2>

                  <div class="mb-3">
                    <var class="price h4">${{ product.price }}</var>
                  </div>

                  <p>{{ product.description }}</p>

                  <hr />
                  <div class="row">
                    <div class="item-option-select">
                      <h6>Choose Color</h6>
                      <select name="color" class="form-control" required>
                        <option value="" hidden disabled selected>Choose Color</option>
                        {% for i in product.variation_set.all %}
                          {% if i.variation_category == 'color' and i.is_active %}
                            <option value="{{ i.variation_value|lower }}">{{ i.variation_value|capfirst }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div> <!-- row.// -->
                  <div class="row">
                    <div class="item-option-select">
                      <h6>Select Size</h6>
                      <select name="size" class="form-control" required>
                        <option value="" hidden disabled selected>Choose Size</option>
                        {% for i in product.variation_set.all %}
                          {% if i.variation_category == 'size' and i.is_active %}
                            <option value="{{ i.variation_value|lower }}">{{ i.variation_value|capfirst }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div> <!-- row.// -->
                  <hr />

                  {% if product.stock <= 0 %}
                    <h4 class="text-danger">Sorry Out of Stock!</h4>
                  {% else %}
                    <button href="" class="btn btn-primary"><span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i></button>
                  {% endif %}
                </article> <!-- product-info-aside .// -->
              </form>
            </main> <!-- col.// -->
          </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br />
        <form method="POST" action="{% url 'submit_review' product.id %}">
          {% csrf_token %}
          <h5>Write Your Review</h5>
          <div>
            <!-- Rating stars -->
            <label>How do you rate this product?</label>
            <br />
            <div class="rate">
              <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5 stars"></label>
              <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5 stars" class="half"></label>
              <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4 stars"></label>
              <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5 stars" class="half"></label>
              <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3 stars"></label>
              <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5 stars" class="half"></label>
              <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2 stars"></label>
              <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5 stars" class="half"></label>
              <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1 star"></label>
              <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5 stars" class="half"></label>
            </div>
            <br />
            Review Title:<input type="text" class="form-control" name="subject" />
            <br />
            Review:<textarea name="review" rows="4" class="form-control"></textarea>
            <br />

            {% if user.is_authenticated %}
              {% if orderproduct %}
                <input type="submit" value="Submit Review" class="btn btn-primary" />
              {% else %}
                <p>you must purchase the product before leave a review!</p>
              {% endif %}
            {% else %}
              <a href="{% url 'login_user' %}?next={{ request.path }}" class="btn btn-primary">Login to Submit Review</a>
            {% endif %}
          </div>
        </form>
        <br />
        <div class="row">
          <div class="col-md-9">
            <header class="section-heading">
              <h3>Customer Reviews</h3>
            </header>

            {% for review in reviews %}
              <article class="box mb-3">
                <div class="icontext w-100">
                  <img src="{% static './images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle" />
                  <div class="text">
                    <span class="date text-muted float-md-right">{{ review.created_at }}</span>
                    <h6 class="mb-1">{{ review.user.show_full_name }}</h6>
                    <div class="">
                      <span class="text-warning">
                        <!-- Star 1 -->
                        {% if review.rating >= 1 %}
                          <i class="fas fa-star"></i>
                        {% elif review.rating >= 0.5 %}
                          <i class="fas fa-star-half-alt"></i>
                        {% else %}
                          <i class="far fa-star"></i>
                        {% endif %}

                        <!-- Star 2 -->
                        {% if review.rating >= 2 %}
                          <i class="fas fa-star"></i>
                        {% elif review.rating >= 1.5 %}
                          <i class="fas fa-star-half-alt"></i>
                        {% else %}
                          <i class="far fa-star"></i>
                        {% endif %}

                        <!-- Star 3 -->
                        {% if review.rating >= 3 %}
                          <i class="fas fa-star"></i>
                        {% elif review.rating >= 2.5 %}
                          <i class="fas fa-star-half-alt"></i>
                        {% else %}
                          <i class="far fa-star"></i>
                        {% endif %}

                        <!-- Star 4 -->
                        {% if review.rating >= 4 %}
                          <i class="fas fa-star"></i>
                        {% elif review.rating >= 3.5 %}
                          <i class="fas fa-star-half-alt"></i>
                        {% else %}
                          <i class="far fa-star"></i>
                        {% endif %}

                        <!-- Star 5 -->
                        {% if review.rating >= 5 %}
                          <i class="fas fa-star"></i>
                        {% elif review.rating >= 4.5 %}
                          <i class="fas fa-star-half-alt"></i>
                        {% else %}
                          <i class="far fa-star"></i>
                        {% endif %}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <h6>{{ review.subject }}</h6>
                  <p>{{ review.review }}</p>
                </div>
              </article>
            {% endfor %}
          </div> <!-- col.// -->
        </div> <!-- row.// -->
      </div> <!-- container .// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
  </body>
{% endblock %}
